ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.alert{
    position: fixed;
    top: 90%;
    right: -5px;
    width: 400px;
}
@media (max-width: 768px){
    .alert{
        position: fixed;
        top: 90%;
        right: 0px;
        width: 100%;
        text-align: center;
    }
}